@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 55%);
    --dgray: hsl(0, 0%, 41%);
}
header{
    height:95vh;
    background: url('/images/desktop/image-hero.jpg') no-repeat;
    padding: 7rem 10%;
    position: relative;
}

.logo{
    float: left;
}
.nav-items{
    display: block;
    float:right;
    margin:0 15px;
    color: var(--white);
    font-family: Alata, sans-serif;
    font-weight: 400;
}
.nav-items:hover{
    border-bottom: 0.15em solid var(--white);
    transition: 0.2s;
}
.header{
    display: block;
    position: absolute;
    width:45%;
    min-width: 480px;
    color:var(--white);
    border: 3px solid var(--white);
    padding:25px;
    font-family:Josefin Sans,sans-serif;
    font-size: 65px;
    text-transform: uppercase;
    top: 50%;
}



.intro{
    padding:7rem 10%;
    display: flex;
}

.intro img{
    object-fit:cover;
}
.intro-box{
    position: relative;
    background-color: var(--white);
    padding:5rem 0 0 5rem;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: -20%;
    z-index: 2;
}

.intro-head{
    color: var(--black);
    display: block;
    font-family:Josefin Sans,sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.intro-content{
    color: var(--gray);
    display: absolute;
    font-family:Alata,sans-serif;
    font-size: 1rem;
}


.contents{
    display: flex;
    padding: 1rem 10%;
    justify-content: space-between;
}
.head{
    color: var(--black);
    display: block;
    font-family:Josefin Sans,sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
.button{
    color: var(--black);
    display: block;
    font-family:Josefin Sans,sans-serif;
    height: fit-content;
    width:fit-content;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 25px;
    border: 2px solid var(--dgray);
}
.button:hover{
    color: var(--white);
    background-color: var(--black);
    transition: 0.2s;
}

.gallery{
    padding: 5rem 10%;
}
.cont{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 450px 450px;
    row-gap: 20px;
    column-gap: 20px;

}

.gallery-items{
    position:relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 50% 50%;
}
.img-txt{
    position: absolute;
    display: block;
    color: var(--white);
    font-family:Josefin Sans,sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    align-self: flex-end;
    justify-content: flex-start;
    z-index: 5;
    padding: 40px;
}
.gallery-items:hover{
    opacity:0.3;
    background-color: var(--white);
    z-index: 2;
    color:var(--black);
    transition: 0.3s ease-in-out;
}
.gallery-items:hover .img-txt{
    transition: 0.3s ease-in-out;
    color:var(--black);
    z-index: 5;
}

.footer{
    padding:2rem 10%;
    display: flex;
    background-color: var(--black);
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.cred{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.logos{
    display: block;
    object-fit: contain;
    align-self: flex-start;
}
.abt li{
    margin:1rem 15px;
    color: var(--white);
    align-self: flex-start;
    display: inline-block;
}
.abt .ab1{
    margin-left: 0;
}
.abt li:hover{
    border-bottom: 2px solid var(--white);
    transition:0.2s;
    cursor: pointer;
}
.social{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.social-icn{
    margin:1rem 15px;
}
.icns{
    align-self: flex-end;
}
.right{
    margin:1rem 15px;
    align-self: flex-end;
    color: var(--gray);
}

.icns img:hover::after{
    content:'';
    width: 30px;
    height: 2px;
    bottom:-50px;
    background-color:  var(--white);
    transition: 5s;
}
@media (min-width: 451px) and (max-width: 900px){
    body{
        font-size: 90%;
    }
    header{
        padding:2rem 5%;
        background-image: url(/images/mobile/image-hero.jpg);
        height: 95vh;
        display:flex;
    }
    .logo{
         align-self: flex-start;
    }
    .header{
        padding:2rem 5%;
        font-size: 30px;
        width:90%;
        min-width: 80vw;
        margin: auto;
        justify-items: center;
    }
    .intro{
        display:block;
    }
    .intro-img img{
        width:100%;
        object-fit: contain;
    }
    .intro-box{
        text-align: center;
    }
    .contents{
        text-align: center;
        display:block;
    }
    .button{
        margin:auto;
        margin-top: 15px;
    }
    .cont{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 350px);
    }
    .footer{
        justify-content: center;
    }
    .logos{
        align-self: center;
    }
    .right{
        align-self: center;
    }
} 
@media (max-width: 450px){
    body{
        font-size: 50%;
    }
    header{
        padding:2rem 5%;
        background-image: url(/images/mobile/image-hero.jpg);
        height: 95vh;
        display:flex;
    }
    .logo{
         align-self: flex-start;
    }
    .header{
        padding:2rem 5%;
        font-size: 30px;
        width:90%;
        min-width: 80vw;
        margin: auto;
        justify-items: center;
    }
    .intro{
        display:block;
    }
    .intro-img img{
        width:100%;
        object-fit: contain;
    }
    .intro-box{
        text-align: center;
    }
    .contents{
        text-align: center;
        display:block;
    }
    .button{
        margin:auto;
        margin-top: 15px;
    }
    .cont{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 200px);
    }
    .footer{
        justify-content: center;
    }
    .logos{
        align-self: center;
    }
    .right{
        align-self: center;
    }
} 